<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="usermanExportSql" class="java.lang.String">
		<constructor-arg type="java.lang.String">
			<value><![CDATA[
				SELECT
					A.login_id,
					A.password,
					A.first_name,
					A.last_name,
					A.registered_at
				FROM
					user A
				WHERE
					A.registered_at BETWEEN :registeredFrom AND :registeredTo
					AND
					A.deleted_flg = 0
				ORDER BY
					A.id
			]]></value>
		</constructor-arg>
	</bean>

	<bean id="usermanImportSql" class="java.lang.String">
		<constructor-arg type="java.lang.String">
			<value><![CDATA[
				INSERT INTO user (
					login_id,
					password,
					first_name,
					last_name
				) VALUES (
					:loginId,
					:password,
					:firstName,
					:lastName
				)
			]]></value>
		</constructor-arg>
	</bean>

</beans>
