<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-4.1.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<jms:annotation-driven />

	<jee:jndi-lookup id="connectionFactory" jndi-name="${admin.jms.connectionFactory}" />
	<jee:jndi-lookup id="xaConnectionFactory" jndi-name="${admin.jms.xaConnectionFactory}" />

	<bean id="destinationResolver"
		class="org.springframework.jms.support.destination.JndiDestinationResolver" />

	<bean id="jmsOperations" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="xaConnectionFactory" />
		<property name="destinationResolver" ref="destinationResolver" />
	</bean>

	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="${admin.taskExecutor.corePoolSize}" />
		<property name="maxPoolSize" value="${admin.taskExecutor.maxPoolSize}" />
		<property name="waitForTasksToCompleteOnShutdown" value="true" />
	</bean>

	<bean id="jmsListenerContainerFactory"
		class="org.springframework.jms.config.DefaultJmsListenerContainerFactory">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destinationResolver" ref="destinationResolver" />
		<property name="taskExecutor" ref="taskExecutor" />
	</bean>

	<bean class="cherry.spring.fwcore.async.AsyncProcessFacadeImpl" />
	<bean class="cherry.spring.fwcore.async.AsyncFileProcessHandlerImpl" />
	<bean class="cherry.spring.fwcore.async.AsyncCommandHandlerImpl" />

</beans>
