<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-4.1.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<jms:annotation-driven />

	<jee:jndi-lookup id="connectionFactory" jndi-name="${admin.jms.connectionFactory}" />
	<jee:jndi-lookup id="xaConnectionFactory" jndi-name="${admin.jms.xaConnectionFactory}" />

	<bean id="destinationResolver"
		class="org.springframework.jms.support.destination.JndiDestinationResolver" />

	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="${admin.taskExecutor.corePoolSize}" />
		<property name="maxPoolSize" value="${admin.taskExecutor.maxPoolSize}" />
		<property name="waitForTasksToCompleteOnShutdown" value="true" />
	</bean>

	<jms:listener-container connection-factory="connectionFactory"
		destination-resolver="destinationResolver" task-executor="taskExecutor">
		<jms:listener destination="${admin.async.queue}"
			selector="type = 'asyncFileProcessHandler'" ref="asyncFileProcessHandler"
			method="handleMessage" />
		<jms:listener destination="${admin.async.queue}"
			selector="type = 'asyncCommandHandler'" ref="asyncCommandHandler"
			method="handleMessage" />
	</jms:listener-container>

	<bean id="jmsOperations" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="xaConnectionFactory" />
		<property name="destinationResolver" ref="destinationResolver" />
		<property name="defaultDestinationName" value="${admin.async.queue}" />
	</bean>

	<bean id="asyncProcessFacade" class="cherry.foundation.async.AsyncProcessFacadeImpl">
		<property name="asyncFileProcessHandler" ref="asyncFileProcessHandler" />
		<property name="asyncCommandHandler" ref="asyncCommandHandler" />
	</bean>

	<bean id="asyncFileProcessHandler" class="cherry.foundation.async.AsyncFileProcessHandlerImpl">
		<property name="bizDateTime" ref="bizDateTime" />
		<property name="asyncStatusStore" ref="asyncStatusStore" />
		<property name="jmsOperations" ref="jmsOperations" />
		<property name="messagePostProcessor">
			<bean class="cherry.foundation.async.PropertyMessagePostProcessor">
				<property name="properties">
					<map key-type="java.lang.String">
						<entry key="type" value="asyncFileProcessHandler" />
					</map>
				</property>
			</bean>
		</property>
		<property name="tempDir" value="${admin.async.file.tempDir}" />
		<property name="tempPrefix" value="${admin.async.file.tempPrefix}" />
		<property name="tempSuffix" value="${admin.async.file.tempSuffix}" />
	</bean>

	<bean id="asyncCommandHandler" class="cherry.foundation.async.AsyncCommandHandlerImpl">
		<property name="bizDateTime" ref="bizDateTime" />
		<property name="asyncStatusStore" ref="asyncStatusStore" />
		<property name="jmsOperations" ref="jmsOperations" />
		<property name="messagePostProcessor">
			<bean class="cherry.foundation.async.PropertyMessagePostProcessor">
				<property name="properties">
					<map key-type="java.lang.String">
						<entry key="type" value="asyncCommandHandler" />
					</map>
				</property>
			</bean>
		</property>
		<property name="commandLauncher" ref="commandLauncher" />
	</bean>

</beans>
