<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="applicationContext-foundation.xml" />
	<import resource="applicationContext-foundationMapper.xml" />
	<import resource="applicationContext-common.xml" />
	<import resource="applicationContext-commonMapper.xml" />
	<import resource="applicationContext-admin.xml" />
	<import resource="applicationContext-adminWeb.xml" />
	<import resource="applicationContext-adminService.xml" />
	<import resource="applicationContext-adminAsync.xml" />
	<import resource="applicationContext-dataSource.xml" />

	<import resource="applicationContext-commonMigration.xml" />

</beans>
