<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<jee:jndi-lookup id="dataSource" jndi-name="${sqlman.jdbc.dataSource}" />

	<bean id="dataSourceDef" class="cherry.sqlman.tool.shared.DataSourceDefImpl">
		<property name="defaultName" value="db1" />
		<property name="systemName" value="system" />
		<property name="dataSourceMap">
			<map key-type="java.lang.String" value-type="javax.sql.DataSource">
				<entry key="db1">
					<jee:jndi-lookup jndi-name="${sqlman.jdbc.dataSource.db1}" default-ref="dataSource" />
				</entry>
				<entry key="db2">
					<jee:jndi-lookup jndi-name="${sqlman.jdbc.dataSource.db2}" default-ref="dataSource" />
				</entry>
				<entry key="db3">
					<jee:jndi-lookup jndi-name="${sqlman.jdbc.dataSource.db3}" default-ref="dataSource" />
				</entry>
				<entry key="db4">
					<jee:jndi-lookup jndi-name="${sqlman.jdbc.dataSource.db4}" default-ref="dataSource" />
				</entry>
				<entry key="db5">
					<jee:jndi-lookup jndi-name="${sqlman.jdbc.dataSource.db5}" default-ref="dataSource" />
				</entry>
				<entry key="system" value-ref="dataSource" />
			</map>
		</property>
	</bean>

</beans>
