/*
 * Copyright 2014,2015 agwlvssainokuni
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package ${typeDef.packageName};

import java.io.Serializable;

import lombok.EqualsAndHashCode;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;

import org.springframework.context.MessageSourceResolvable;

import cherry.foundation.logicalerror.LogicalErrorUtil;

@Getter
@Setter
@EqualsAndHashCode
@ToString
public abstract class ${typeDef.className}Base implements Serializable {

	private static final long serialVersionUID = 1L;
########################################################################
#macro (groups $prop)
{ javax.validation.groups.Default.class##
#if ($prop.g1 == "○"), cherry.foundation.validator.groups.G1.class#end
#if ($prop.g2 == "○"), cherry.foundation.validator.groups.G2.class#end
#if ($prop.g3 == "○"), cherry.foundation.validator.groups.G3.class#end
#if ($prop.g4 == "○"), cherry.foundation.validator.groups.G4.class#end
#if ($prop.g5 == "○"), cherry.foundation.validator.groups.G5.class#end
#if ($prop.g6 == "○"), cherry.foundation.validator.groups.G6.class#end
#if ($prop.g7 == "○"), cherry.foundation.validator.groups.G7.class#end
#if ($prop.g8 == "○"), cherry.foundation.validator.groups.G8.class#end
#if ($prop.g9 == "○"), cherry.foundation.validator.groups.G9.class#end
 }##
#end

#foreach ($prop in $typeDef.itemDef)
########################################################################
#if ($prop.type == "数値")
#if ($prop.required == "○")
	@javax.validation.constraints.NotNull(groups = #groups($prop))
#end
#if ($prop.min)
#if ($prop.subtype == "整数" || $prop.subtype == "整数(Long)")
	@javax.validation.constraints.Min(value = $prop.min, groups = #groups($prop))
#else
	@javax.validation.constraints.DecimalMin(value = "$prop.min", groups = #groups($prop))
#end
#end
#if ($prop.max)
#if ($prop.subtype == "整数" || $prop.subtype == "整数(Long)")
	@javax.validation.constraints.Max(value = $prop.max, groups = #groups($prop))
#else
	@javax.validation.constraints.DecimalMax(value = "$prop.max", groups = #groups($prop))
#end
#end
################ サブ型
#if ($prop.subtype == "整数")
	@cherry.foundation.type.format.CustomNumberFormat
	private Integer ${prop.name};
#elseif ($prop.subtype == "整数(Long)")
	@cherry.foundation.type.format.CustomNumberFormat
	private Long ${prop.name};
#elseif ($prop.subtype == "小数1桁")
	@cherry.foundation.type.format.CustomNumberFormat(1)
	private java.math.BigDecimal ${prop.name};
#elseif ($prop.subtype == "小数2桁")
	@cherry.foundation.type.format.CustomNumberFormat(2)
	private java.math.BigDecimal ${prop.name};
#elseif ($prop.subtype == "小数3桁")
	@cherry.foundation.type.format.CustomNumberFormat(3)
	private java.math.BigDecimal ${prop.name};
#else
	@cherry.foundation.type.format.CustomNumberFormat(pattern = "#[[###0.##]]#", scale = 2)
	private java.math.BigDecimal ${prop.name};
#end

########################################################################
#elseif ($prop.type == "日付" || $prop.type == "時刻" || $prop.type == "日時")
#if ($prop.required == "○")
	@javax.validation.constraints.NotNull(groups = #groups($prop))
#end
################ サブ型
#if ($prop.subtype == "範囲下限")
	@cherry.foundation.type.format.CustomDateTimeFormat(cherry.foundation.type.format.CustomDateTimeFormat.Range.FROM)
#elseif ($prop.subtype == "範囲上限")
	@cherry.foundation.type.format.CustomDateTimeFormat(cherry.foundation.type.format.CustomDateTimeFormat.Range.TO)
#else
	@cherry.foundation.type.format.CustomDateTimeFormat()
#end
################ 変数宣言
#if ($prop.type == "日付")
	private org.joda.time.LocalDate ${prop.name};
#elseif ($prop.type == "時刻")
	private org.joda.time.LocalTime ${prop.name};
#else
	private org.joda.time.LocalDateTime ${prop.name};
#end

########################################################################
#elseif ($prop.type == "ファイル")
#if ($prop.required == "○")
	@javax.validation.constraints.NotNull(groups = #groups($prop))
#end
################ 変数宣言
	private org.springframework.web.multipart.MultipartFile ${prop.name};

########################################################################
#elseif ($prop.type == "フラグ")
################ 変数宣言
	private boolean ${prop.name};

########################################################################
#elseif ($prop.type == "リスト")
################ 変数宣言
	private java.util.List<${prop.subtype}> ${prop.name};

########################################################################
#elseif ($prop.type == "ロックバージョン")
################ 変数宣言
	private Integer ${prop.name};

########################################################################
#elseif ($prop.type == "ページネーション")
################ 変数宣言
	private long ${prop.name} = 0L;

########################################################################
#elseif ($prop.type == "文字列")
#if ($prop.required == "○")
	@org.hibernate.validator.constraints.NotEmpty(groups = #groups($prop))
#end
#if ($prop.minlen)
	@cherry.foundation.validator.MinLength(value = $prop.minlen, groups = #groups($prop))
#end
#if ($prop.maxlen)
	@cherry.foundation.validator.MaxLength(value = $prop.maxlen, groups = #groups($prop))
#end
################ サブ型
#if ($prop.subtype == "メール")
	@org.hibernate.validator.constraints.Email(groups = #groups($prop))
#elseif ($prop.subtype == "電話番号")
	@cherry.foundation.validator.TelNo(groups = #groups($prop))
#elseif ($prop.subtype == "郵便番号")
	@cherry.foundation.validator.ZipCode(groups = #groups($prop))
#elseif ($prop.subtype == "半角")
	@cherry.foundation.validator.CharTypeBasicLatin(groups = #groups($prop))
#elseif ($prop.subtype == "半角(カナ含む)")
	@cherry.foundation.validator.CharTypeHalfWidth(groups = #groups($prop))
#elseif ($prop.subtype == "半角数字")
	@cherry.foundation.validator.CharTypeNumeric(groups = #groups($prop))
#elseif ($prop.subtype == "半角英字")
	@cherry.foundation.validator.CharTypeAlpha(groups = #groups($prop))
#elseif ($prop.subtype == "半角英数字")
	@cherry.foundation.validator.CharTypeAlphaNumeric(groups = #groups($prop))
#elseif ($prop.subtype == "半角カナ")
	@cherry.foundation.validator.CharTypeHalfKatakana(groups = #groups($prop))
#elseif ($prop.subtype == "全角")
	@cherry.foundation.validator.CharTypeFullWidth(groups = #groups($prop))
#elseif ($prop.subtype == "全角数字")
	@cherry.foundation.validator.CharTypeFullNumeric(groups = #groups($prop))
#elseif ($prop.subtype == "全角英字")
	@cherry.foundation.validator.CharTypeFullAlpha(groups = #groups($prop))
#elseif ($prop.subtype == "全角英数字")
	@cherry.foundation.validator.CharTypeFullAlphaNumeric(groups = #groups($prop))
#elseif ($prop.subtype == "全角ひらがな")
	@cherry.foundation.validator.CharTypeFullHiragana(groups = #groups($prop))
#elseif ($prop.subtype == "全角カタカナ")
	@cherry.foundation.validator.CharTypeFullKatakana(groups = #groups($prop))
#else
#end
################ 変数宣言
	private String ${prop.name};

########################################################################
#else
#end
#end
	@Getter
	public enum Prop {
#foreach ($prop in $typeDef.itemDef)
#if ($prop.name)
		${prop.upperCamel("name")}("${prop.name}", "${typeDef.formName}.${prop.name}"), //
#end
#end
		DUMMY("dummy", "dummy");

		private final String name;
		private final String nameWithForm;

		private Prop(String name, String nameWithForm) {
			this.name = name;
			this.nameWithForm = nameWithForm;
		}

		public MessageSourceResolvable resolve() {
			return LogicalErrorUtil.resolve(nameWithForm);
		}
	}

}
