<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="applicationContext-foundation.xml" />
	<import resource="applicationContext-sqlman.xml" />
	<import resource="applicationContext-sqlmanMigration.xml" />

	<jdbc:embedded-database id="dataSource" type="H2" />
	<jdbc:embedded-database id="dataSource1" type="H2" />
	<jdbc:embedded-database id="dataSource2" type="H2" />
	<jdbc:embedded-database id="dataSource3" type="H2" />

	<bean id="dataSourceDef" class="cherry.sqlman.tool.shared.DataSourceDefImpl">
		<property name="defaultName" value="db1" />
		<property name="systemName" value="system" />
		<property name="dataSourceMap">
			<map key-type="java.lang.String" value-type="javax.sql.DataSource">
				<entry key="db1" value-ref="dataSource1" />
				<entry key="db2" value-ref="dataSource2" />
				<entry key="db3" value-ref="dataSource3" />
				<entry key="db4" value-ref="dataSource" />
				<entry key="db5" value-ref="dataSource" />
				<entry key="system" value-ref="dataSource" />
			</map>
		</property>
	</bean>

</beans>
