<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<import resource="applicationContext-common.xml" />
	<import resource="applicationContext-commonMapper.xml" />
	<import resource="applicationContext-commonMigration.xml" />

	<jdbc:embedded-database id="dataSource" type="H2" />

	<bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<bean id="mailMessageDao" class="cherry.spring.common.helper.mail.MailMessageDaoImpl" />
	<bean id="mailMessageHelper" class="cherry.spring.common.helper.mail.MailMessageHelperImpl" />

	<bean id="simpleSqlParser" class="cherry.spring.common.lib.sql.SimpleSqlParser" />
	<bean id="sqlExecutor" class="cherry.spring.common.helper.sql.SqlExecutorImpl" />
	<bean id="sqlLoader" class="cherry.spring.common.helper.sql.SqlLoaderImpl" />

</beans>
