<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<import resource="applicationContext-common.xml" />
	<import resource="applicationContext-commonMapper.xml" />
	<import resource="applicationContext-site.xml" />
	<import resource="applicationContext-dataSource.xml" />

	<import resource="applicationContext-commonMigration.xml" />

	<bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	<security:authentication-manager id="authenticationManager">
		<security:authentication-provider>
			<security:password-encoder ref="passwordEncoder" />
			<!-- <security:user-service properties="${site.userfile}" /> -->
			<security:jdbc-user-service
				data-source-ref="dataSource"
				users-by-username-query="SELECT mail_addr, password, 1 FROM users WHERE mail_addr=? AND deleted_flg=0"
				authorities-by-username-query="SELECT ?, 'ROLE_USER' FROM dual" />
		</security:authentication-provider>
	</security:authentication-manager>

</beans>
