<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="applicationContext-foundation.xml" />
	<import resource="applicationContext-common.xml" />
	<import resource="applicationContext-commonMapper.xml" />
	<import resource="applicationContext-admin.xml" />
	<import resource="applicationContext-adminWeb.xml" />
	<import resource="applicationContext-adminService.xml" />

	<import resource="applicationContext-commonMigration.xml" />

	<jdbc:embedded-database id="dataSource" type="H2" />

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="asyncProcessFacade" class="org.mockito.Mockito" factory-method="mock">
		<constructor-arg value="cherry.foundation.async.AsyncProcessFacade" />
	</bean>

</beans>
