/*
 * Copyright 2014 agwlvssainokuni
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package ${typeDef.packageName};

import java.io.Serializable;

import lombok.EqualsAndHashCode;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;

@Getter
@Setter
@EqualsAndHashCode
@ToString
public abstract class ${typeDef.className}Base implements Serializable {

	private static final long serialVersionUID = 1L;

#foreach ($prop in $typeDef.itemDef)
########################################################################
#if ($prop.type == "数値")
#if ($prop.required == "○")
	@javax.validation.constraints.NotNull
#end
#if ($prop.min)
	@javax.validation.constraints.Min($prop.min)
#end
#if ($prop.max)
	@javax.validation.constraints.Max($prop.max)
#end
################ サブ型
#if ($prop.subtype == "整数")
	private Integer ${prop.name};
#elseif ($prop.subtype == "整数(Long)")
	private Long ${prop.name};
#else
	private java.math.BigDecimal ${prop.name};
#end

########################################################################
#elseif ($prop.type == "日付" || $prop.type == "時刻" || $prop.type == "日時")
#if ($prop.required == "○")
	@javax.validation.constraints.NotNull
#end
################ サブ型
#if ($prop.subtype == "範囲下限")
	@cherry.spring.fwcore.type.format.CustomDateTimeFormat(cherry.spring.fwcore.type.format.CustomDateTimeFormat.Range.FROM)
#elseif ($prop.subtype == "範囲上限")
	@cherry.spring.fwcore.type.format.CustomDateTimeFormat(cherry.spring.fwcore.type.format.CustomDateTimeFormat.Range.TO)
#else
	@cherry.spring.fwcore.type.format.CustomDateTimeFormat()
#end
################ 変数宣言
#if ($prop.type == "日付")
	private org.joda.time.LocalDate ${prop.name};
#elseif ($prop.type == "時刻")
	private org.joda.time.LocalTime ${prop.name};
#else
	private org.joda.time.LocalDateTime ${prop.name};
#end

########################################################################
#elseif ($prop.type == "ファイル")
#if ($prop.required == "○")
	@javax.validation.constraints.NotNull
#end
################ 変数宣言
	private org.springframework.web.multipart.MultipartFile ${prop.name};

########################################################################
#elseif ($prop.type == "フラグ")
################ 変数宣言
	private boolean ${prop.name};

########################################################################
#elseif ($prop.type == "リスト")
################ 変数宣言
	private java.util.List<${prop.subtype}> ${prop.name};

########################################################################
#elseif ($prop.type == "ロックバージョン")
################ 変数宣言
	private Integer ${prop.name};

########################################################################
#elseif ($prop.type == "ページネーション")
################ 変数宣言
	private long ${prop.name} = 0L;

########################################################################
#elseif ($prop.type == "文字列")
#if ($prop.required == "○")
#if ($prop.minlen)
	@javax.validation.constraints.NotNull
#else
	@org.hibernate.validator.constraints.NotEmpty
#end
#end
#if ($prop.minlen)
	@cherry.spring.fwcore.validator.MinLength($prop.minlen)
#end
#if ($prop.maxlen)
	@cherry.spring.fwcore.validator.MaxLength($prop.maxlen)
#end
################ サブ型
#if ($prop.subtype == "メール")
	@org.hibernate.validator.constraints.Email
#elseif ($prop.subtype == "半角")
	@cherry.spring.fwcore.validator.CharTypeBasicLatin
#elseif ($prop.subtype == "半角(カナ含む)")
	@cherry.spring.fwcore.validator.CharTypeHalfWidth
#elseif ($prop.subtype == "半角数字")
	@cherry.spring.fwcore.validator.CharTypeNumeric
#elseif ($prop.subtype == "半角英字")
	@cherry.spring.fwcore.validator.CharTypeAlpha
#elseif ($prop.subtype == "半角英数字")
	@cherry.spring.fwcore.validator.CharTypeAlphaNumeric
#elseif ($prop.subtype == "半角カナ")
	@cherry.spring.fwcore.validator.CharTypeHalfKatakana
#elseif ($prop.subtype == "全角")
	@cherry.spring.fwcore.validator.CharTypeFullWidth
#elseif ($prop.subtype == "全角数字")
	@cherry.spring.fwcore.validator.CharTypeFullNumeric
#elseif ($prop.subtype == "全角英字")
	@cherry.spring.fwcore.validator.CharTypeFullAlpha
#elseif ($prop.subtype == "全角英数字")
	@cherry.spring.fwcore.validator.CharTypeFullAlphaNumeric
#elseif ($prop.subtype == "全角ひらがな")
	@cherry.spring.fwcore.validator.CharTypeFullHiragana
#elseif ($prop.subtype == "全角カタカナ")
	@cherry.spring.fwcore.validator.CharTypeFullKatakana
#else
#end
################ 変数宣言
	private String ${prop.name};

########################################################################
#else
#end
#end
	@Getter
	public enum Prop {
#foreach ($prop in $typeDef.itemDef)
		${prop.upperCamel("name")}("${prop.name}", "${typeDef.formName}.${prop.name}"), //
#end
		DUMMY("dummy", "dummy");

		private final String name;
		private final String nameWithForm;

		private Prop(String name, String nameWithForm) {
			this.name = name;
			this.nameWithForm = nameWithForm;
		}
	}

}
