<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<context:property-placeholder location="classpath:common.properties"
		ignore-unresolvable="true" />

	<context:component-scan base-package="cherry.spring.common" />

	<tx:annotation-driven />

	<aop:config>
		<aop:advisor advice-ref="traceInterceptor"
			pointcut="execution(* cherry.spring..*.*(..))
				and
				!execution(* cherry.spring.common.log..*.*(..))
				and
				!execution(* cherry.spring.common.custom..*.*(..))
				" />
	</aop:config>

	<bean id="traceInterceptor" class="cherry.spring.common.log.trace.TraceInterceptor">
		<property name="arrayLengthLimit" value="${common.trace.arrayLengthLimit}" />
		<property name="objectLengthLimit" value="${common.trace.objectLengthLimit}" />
		<property name="packagePrefix">
			<list>
				<value>cherry.spring</value>
			</list>
		</property>
	</bean>

	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="java.util.ResourceBundle"
					value="org.springframework.beans.propertyeditors.ResourceBundleEditor" />
			</map>
		</property>
	</bean>

	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="registerDefaultFormatters" value="false" />
		<property name="formatters">
			<set>
				<bean
					class="org.springframework.format.number.NumberFormatAnnotationFormatterFactory" />
				<bean
					class="org.springframework.format.datetime.joda.JodaDateTimeFormatAnnotationFormatterFactory" />
				<bean
					class="cherry.spring.common.custom.format.CustomDateTimeFormatAnnotationFormatterFactory" />
				<bean
					class="cherry.spring.common.custom.format.IpAddrFormatAnnotationFormatterFactory" />
			</set>
		</property>
		<property name="formatterRegistrars">
			<set>
				<bean class="org.springframework.format.datetime.DateFormatterRegistrar" />
			</set>
		</property>
		<property name="converters">
			<set>
				<bean class="cherry.spring.common.custom.converter.LocalDateTimeConverter" />
				<bean class="cherry.spring.common.custom.converter.SecureStringConverter" />
			</set>
		</property>
	</bean>

	<bean id="namedParameterJdbcOperations"
		class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="dataSource" />
	</bean>

	<bean id="ipAddrUtil" class="cherry.spring.common.lib.ipaddr.IpAddrUtil" />

</beans>
