<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<mybatis:scan base-package="cherry.spring.common.db" />

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeHandlers">
			<list>
				<bean class="cherry.spring.common.mybatis.JodaLocalDateTypeHandler" />
				<bean class="cherry.spring.common.mybatis.JodaLocalTimeTypeHandler" />
				<bean class="cherry.spring.common.mybatis.JodaLocalDateTimeTypeHandler" />
				<bean class="cherry.spring.common.mybatis.JodaDateTimeTypeHandler" />
			</list>
		</property>
	</bean>

</beans>
