<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<mybatis-spring:scan base-package="cherry.spring.common.db" />

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeHandlers">
			<list>
				<bean class="cherry.spring.common.custom.mybatis.JodaLocalDateTypeHandler" />
				<bean class="cherry.spring.common.custom.mybatis.JodaLocalTimeTypeHandler" />
				<bean
					class="cherry.spring.common.custom.mybatis.JodaLocalDateTimeTypeHandler" />
				<bean class="cherry.spring.common.custom.mybatis.JodaDateTimeTypeHandler" />
				<bean class="cherry.spring.common.custom.mybatis.SecureStringTypeHandler" />
			</list>
		</property>
	</bean>

</beans>
