<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cherry.spring.common.db.app.mapper.UserMapper">
	<update id="updatePassword">
		UPDATE users
		SET
			password = #{password,jdbcType=VARCHAR}
		WHERE
			mail_addr = #{mailAddr,jdbcType=VARCHAR}
			AND
			deleted_flg = 0
	</update>
</mapper>
