<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:batch.properties" ignore-unresolvable="true" />

	<context:component-scan base-package="cherry.spring.batch" />

	<bean id="paginator" class="cherry.goods.paginate.PaginatorImpl">
		<property name="paginateStrategy">
			<bean class="cherry.goods.paginate.TotalCountStrategy">
				<property name="totalCount" value="9" />
				<property name="lowerSideHint" value="4" />
				<property name="lowerTrim" value="0" />
				<property name="upperTrim" value="0" />
			</bean>
		</property>
	</bean>

	<bean class="cherry.goods.log.Log" factory-method="setMessageDef">
		<constructor-arg value="log" />
	</bean>

	<cache:annotation-driven />

	<bean id="cacheManager" class="org.springframework.cache.guava.GuavaCacheManager">
		<property name="cacheSpecification" value="concurrencyLevel=4,expireAfterWrite=1m,weakKeys,weakValues" />
	</bean>

</beans>
