<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:property-placeholder location="classpath:batch.properties"
		ignore-unresolvable="true" />

	<context:component-scan base-package="cherry.spring.batch" />

	<bean id="asyncProcDao" class="cherry.spring.common.helper.async.AsyncProcDaoImpl" />

	<bean id="asyncProcHelper" class="cherry.spring.common.helper.async.AsyncProcHelperImpl" />

	<bean id="bizdateDao" class="cherry.spring.common.helper.bizdate.BizdateDaoImpl" />

	<bean id="bizdateHelper" class="cherry.spring.common.helper.bizdate.BizdateHelperImpl" />

	<bean id="jsonHelper" class="cherry.spring.common.helper.json.JsonHelperImpl" />

	<bean id="sqlLoader" class="cherry.spring.common.helper.sql.SqlLoaderImpl" />

	<bean id="extractor" class="cherry.spring.common.lib.etl.ExtractorImpl" />

	<bean id="loader" class="cherry.spring.common.lib.etl.LoaderImpl" />

	<bean id="simpleSqlParser" class="cherry.spring.common.lib.sql.SimpleSqlParser" />

	<bean class="cherry.spring.common.log.Log" factory-method="setMessageDef">
		<constructor-arg value="log" />
	</bean>

	<bean id="objectMapper"
		class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
		<property name="modules">
			<array>
				<bean class="com.fasterxml.jackson.datatype.joda.JodaModule" />
			</array>
		</property>
		<property name="featuresToDisable">
			<array>
				<util:constant
					static-field="com.fasterxml.jackson.databind.SerializationFeature.WRITE_DATES_AS_TIMESTAMPS" />
			</array>
		</property>
	</bean>

</beans>
