@CHARSET "UTF-8";

.ui-widget {
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
}

.ui-widget .ui-button-text {
	padding: 1px 5px;
}

.ui-widget span.ui-selectmenu-text {
	padding: 1px 5px;
}

.ui-widget .ui-menu-item {
	padding: 1px 5px;
}