@CHARSET "UTF-8";

.ui-widget {
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
}

.ui-button-text-only .ui-button-text {
	padding: 1px 5px;
}

.ui-selectmenu-button span.ui-selectmenu-text {
	padding: 1px 5px;
}

.ui-selectmenu-menu .ui-menu-item {
	padding: 1px 5px;
}