@CHARSET "UTF-8";

/*
 * 基本デザイン。
 */
* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #ded;
}

#PageHeader {
	color: white;
	background: navy;
}

#PageNavi {
	border-bottom: thick solid navy;
}

#PageFooter {
	border-top: thick solid navy;
}

#Header,#Navi,#Content,#Footer {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

#Navi ul {
	list-style-type: none;
}

#Navi ul li {
	float: left;
	margin-right: 1ex;
}

/*
 * jQuery UI 部品調整
 */
.ui-button-text-only .ui-button-text {
	padding: 0ex 1ex;
}

button.ui-button-text-only .ui-button-text {
	width: 6em;
}

.ui-menu {
	width: 15em;
}

/*
 * 入力フォーム。
 */
.app-fullwidth {
	width: 100%;
}

/*
 * テーブル書式。
 */
.app-table thead tr {
	color: white;
	background: teal;
}

.app-table td {
	padding: 2px 5px;
}

.app-row-even {
	background: #eff;
}

.app-row-odd {
	background: #cdf;
}