@CHARSET "UTF-8";

/* 基本レイアウト */
body {
	font-size: 12pt;
}

body,ul,ol,form {
	margin: 0px;
	padding: 0px;
}

td,th {
	padding: 5px 5px;
}

.appSubject {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.appPortion {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 0px;
}

ul.appFlatLink {
	list-style: none;
}

ul.appFlatLink>li {
	display: inline;
	margin-right: 1ex;
}

.appPager {
	text-align: right;
}

.appWidthFull {
	width: 100%;
}

.appWidth10 {
	width: 160px;
}

.appWidth15 {
	width: 240px;
}

.appWidth20 {
	width: 320px;
}

.appWidth30 {
	width: 480px;
}

.appWidth50 {
	width: 800px;
}

.appHeight3 {
	height: 54px;
}

.appHeight5 {
	height: 90px;
}

/* 領域レイアウト */
#Header,#Navi,#Content,#Footer {
	/* width: 1280px; */
	margin-left: auto;
	margin-right: auto;
}

/*
 * 基本デザイン。
 */
body,h1,h2,h3,h4,h5,h6,ul,ol,form {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #ded;
}

#PageHeader {
	color: white;
	background: navy;
}

#PageNavi {
	border-bottom: thick solid navy;
}

#PageFooter {
	border-top: thick solid navy;
}

#Navi ul {
	list-style-type: none;
}

#Navi ul li {
	display: inline;
	margin-right: 1ex;
}

/*
 * jQuery UI 部品調整
 */

/*
 * テーブル書式。
 */
.app-table thead tr {
	color: white;
	background: teal;
}

.app-table td {
	padding: 2px 5px;
}

.app-row-even {
	background: #eff;
}

.app-row-odd {
	background: #cdf;
}