@CHARSET "UTF-8";

/*
 * 基本デザイン。
 */
body,h1,h2,h3,h4,h5,h6,ul,ol,form {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #ded;
}

#PageHeader {
	color: white;
	background: navy;
}

#PageNavi {
	border-bottom: thick solid navy;
}

#PageFooter {
	border-top: thick solid navy;
}

#Header,#Navi,#Content,#Footer {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

#Navi ul {
	list-style-type: none;
}

#Navi ul li {
	display: inline;
	margin-right: 1ex;
}

/*
 * jQuery UI 部品調整
 */
.ui-button-text-only .ui-button-text {
	padding: 0.5ex 1ex;
}

button.ui-button-text-only .ui-button-text {
	width: 6em;
}

.ui-menu {
	width: 15em;
}

/*
 * 入力フォーム。
 */
.app-fullwidth {
	width: 100%;
}

.app-text-10 {
	width: 160px;
}

.app-text-15 {
	width: 230px;
}

.app-text-20 {
	width: 310px;
}

.app-text-30 {
	width: 460px;
}

.app-text-50 {
	width: 750px;
}

/* テキストエリア */
.app-textarea-w20 {
	width: 310px;
}

.app-textarea-w30 {
	width: 460px;
}

.app-textarea-w50 {
	width: 760px;
}

.app-textarea-h3 {
	height: 51px;
}

.app-textarea-h5 {
	height: 85px;
}

/*
 * テーブル書式。
 */
.app-table thead tr {
	color: white;
	background: teal;
}

.app-table td {
	padding: 2px 5px;
}

.app-row-even {
	background: #eff;
}

.app-row-odd {
	background: #cdf;
}